<!doctype html>
<html>
  <head>
    <title>All Articles</title>
  </head>
  <body>
    <div class="container ">
      <h1>All Posts</h1>
      <ul>
      <% posts.forEach(function(post){ %>
          <li><a href="/posts/<%= post.dataValues.id %>"><%= post.dataValues.title%></a> <p><%= post.dataValues.body%></p></li>
        <% }) %>
      </ul> 
    </div>
  </body>
</html>