<!doctype html>
<html>
  <head>
    <title>All Articles</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="container ">
      <h1>All Posts</h1>
<!--       <ul>
      <% posts.forEach(function(post){ %>
          <li><a href="/posts<%= post.id %>"><%= post.dataValues.postTitle%></a> <p><%= post.dataValues.postContent%></p></li>
        <% }) %>
      </ul> -->

    </div>
  </body>
</html>