    </div>
    <footer>
      <a href="/posts/">See All Posts</a> | 
      <a href="/authors/">See All Authors</a> |
      <a href="/about">About Us</a> |
      <a href="/contact">Contact</a>
    </footer>
  </body>
</html>
