<!doctype html>
<html>
  <head>
    <title>Daily Planet Blog</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/images/favicon.ico">

  </head>
  <body>
    <header>
      <h1><a href="/posts/">The Daily Planet Blog</a></h1>
    </header>
    <div class="container container-fluid">