<!doctype html>
<html>
  <head>
    <title>Create New Post</title>
  </head>
  <body>
    <h1>Create New Post</h1>
    <form method="POST" action="/index">
      <input type="text" name="author[authorName]" placeholder="Author Name"><br>
      <input type="text" name="post[postTitle]" placeholder ="Post Title"><br>
      <textarea type="text" name="post[postContent]" placeholder ="Post Content"></textarea><br>
      <button>Add New Post &raquo;</button>
    </form>
  </body>
</html>