<!doctype html>
<html>
  <head>
    <title>Create New Post</title>
  </head>
  <body>
    <h1>Create New Post</h1>
    <form method="POST" action="/index">
      <input type="text" name="author[firstname]" placeholder="Author First Name"><br>
      <input type="text" name="author[lastname]" placeholder="Author Last Name"><br>
      <input type="text" name="post[title]" placeholder ="Post Title"><br>
      <textarea type="text" name="post[body]" placeholder ="Post Content"></textarea><br>
      <button>Add New Post &raquo;</button>
    </form>
  </body>
</html>