<!doctype html>
<html>
  <head>
    <title><%= post.dataValues.title %></title>

  </head>
  <body>
    <div class="container container-fluid">

        <h1><%= post.dataValues.title %></h1>
        <p><%= post.dataValues.body %></p>
    </div>
  </body>
</html>