<%= include ../myHeader.ejs %>
  <img src="images/DailyPlanet.png" class="contact" />

  <h2>Contact Us!</h2>
  
  <address>
    <strong>Visit Us</strong><br>
    Fifth Street and Concord Lane<br>
    Metropolis, USA<br>
    <abbr title="Phone">P:</abbr> 555-555-5555<br>
    <a href="mailto:contact@dailyplanet.com">contact@dailyplanet.com</a>
  </address>


<%= include ../myFooter.ejs %>