<%= include ../myHeader.ejs %>

<form role="form" method="POST" action="/authors/dashboard/">
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" name="username" id="username" placeholder ="Username" class="form-control" autofocus>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input input type="password" name="password" id="password" class="form-control">
  </div>
  <button type="submit" class="btn btn-default">Login</button>
</form>

<%= include ../myFooter.ejs %>