<%= include ../myHeader.ejs %>

<form role="form" method="POST" action="/index">
  <div class="form-group">
    <label for="firstname">First Name</label>
    <input type="text" name="firstname" id="firstname" placeholder ="First Name" class="form-control" autofocus>
  </div>
  <div class="form-group">
    <label for="lastname">Last Name</label>
    <input type="text" name="lastname" id="lastname" placeholder ="Last Name" class="form-control" autofocus>
  </div>
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" name="username" id="username" placeholder ="User Name" class="form-control" autofocus>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input input type="password" name="password" id="password" class="form-control">
  </div>
  <button type="submit" class="btn btn-default">Sign Up</button>
</form>

<%= include ../myFooter.ejs %>